[user]
	name = yokomotod
	email = yokomotod@gmail.com
[alias]
	st = status --short --branch
	graph = log --graph --format='"%C(auto)%h%d %s by %an"' --decorate
[core]
	ui = auto
	editor = vim
	autocrlf = false
	ignorecase = false
[pager]
	diff = diff-highlight | less -R
	log  = diff-highlight | less -R
	show = diff-highlight | less -R
[push]
	autoSetupRemote = true
[pull]
	ff = only
[fetch]
	prune = true
[diff]
	renames = true
	compactionHeuristic = true
[stash]
	showPatch = true
[merge]
	conflictstyle = zdiff3
