[alias]
	co = checkout
	st = status -s -b --ignored
	br = branch
	aa = add --all
	graph = log --graph --oneline --decorate --all
[core]
	ui = auto
	editor = vim
	autocrlf = false
	ignorecase = false
[pager]
	diff = diff-highlight | less -R
	log  = diff-highlight | less -R
	show = diff-highlight | less -R
[include]
	path = .gitconfig.local
[push]
	default = current
[pull]
	ff = only
[fetch]
	prune = true
[diff]
	renames = true
	compactionHeuristic = true
[stash]
	showPatch = true
[merge]
	conflictstyle = diff3
